.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-jungle-green);
    border-radius: 15px;
    padding: 10px 15px;
    // margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .3s ease-in;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
    }
}

.button:hover {
    background-color: var(--purple);
    transition: .15s ease-in;
}