@media screen and (max-width: 600px) {
  .projectCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    min-height: 200px;
    background-color: var(--amethyst);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px 15px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .heading a {
    width: 100%;
  }
  .projectCard .heading a img {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 0px;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading h1 {
    margin-top: 10px;
    text-align: center;
  }
  .projectCard .techStack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .techStack h4 {
    font-size: 12px;
  }
  .projectCard .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .projectCard .buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .projectCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
    min-height: 200px;
    background-color: var(--amethyst);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px 30px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .heading a {
    width: 300px;
  }
  .projectCard .heading a img {
    width: 50%;
    aspect-ratio: 16 / 9;
    margin: 0px;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading a img:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading h1 {
    text-align: right;
  }
  .projectCard .techStack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .techStack h4 {
    font-size: 18px;
  }
  .projectCard .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .projectCard .buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    gap: 20px;
    margin-top: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1000px) {
  .projectCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70vw;
    min-height: 200px;
    background-color: var(--amethyst);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px 30px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .heading a {
    width: 300px;
  }
  .projectCard .heading a img {
    width: 50%;
    aspect-ratio: 16 / 9;
    margin: 0px;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading a img:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .projectCard .heading h1 {
    text-align: right;
  }
  .projectCard .techStack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectCard .techStack h4 {
    font-size: 18px;
  }
  .projectCard .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .projectCard .buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=ProjectCard.module.css.map */