@media screen and (max-width: 600px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 100px;
    min-height: 100vh;
  }
  .home .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    width: 90vw;
    padding: 20px;
    background-color: var(--amethyst);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
  .home .hero img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .home .hero img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .home .hero h1 {
    font-size: 24px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .home .hero h2 {
    font-size: 20px;
    padding: 10px 10px;
    margin: 0;
  }
  .home .hero .buttonContainer {
    margin-top: 20px;
  }
}

@media screen and (min-width: 600px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
  }
  .home .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    width: 70vw;
    min-height: 50vh;
    padding: 20px;
    background-color: var(--amethyst);
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  }
  .home .hero img {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 100px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .home .hero img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .home .hero h1 {
    font-size: 30px;
    margin: 0;
    padding: 20px 10px;
  }
  .home .hero h2 {
    font-size: 20px;
    padding: 10px 10px;
    margin: 0;
  }
  .home .hero .buttonContainer {
    margin-top: 20px;
  }
}

.profileSkeleton {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-color: #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/*# sourceMappingURL=Home.module.css.map */