// MOBILE MEDIA QUERY   
@media screen and (max-width: 600px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;
        min-height: 100vh;
        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            width: 90vw;
            padding: 20px;
            background-color: var(--amethyst);
            box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: .2);
            img {
                display: flex;
                border-radius: 100px;
                object-fit: cover;
                box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: .4);
                transition: .3s ease-in-out;
            }
            img:hover {
                transform: scale(1.2);
                transition: .3s ease-in-out;
            }
            h1 {
                font-size: 24px;
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            h2 {
                font-size: 20px;
                padding: 10px 10px;
                margin: 0;
            }
            .buttonContainer {
                margin-top: 20px;
            }
        }
    }
}


@media screen and (min-width: 600px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            width: 70vw;
            min-height: 50vh;
            padding: 20px;
            background-color: var(--amethyst);
            box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: .2);
            img {
                margin-top: 20px;
                display: flex;
                border-radius: 100px;
                object-fit: cover;
                box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: .4);
                transition: .3s ease-in-out;
            }
            img:hover {
                transform: scale(1.2);
                transition: .3s ease-in-out;
            }
            h1 {
                font-size: 30px;
                margin: 0;
                padding: 20px 10px;
            }
            h2 {
                font-size: 20px;
                padding: 10px 10px;
                margin: 0;
            }
            .buttonContainer {
                margin-top: 20px;
            }
        }
    }
}


.profileSkeleton {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    background-color: #d4d4d4;
    display: flex;
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: .4);
    transition: .3s ease-in-out;
}