@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hamburgerFadeIn {
  from {
    left: -40%;
    top: 2%;
    opacity: 0;
  }
  to {
    left: 5%;
    top: 2%;
    opacity: 1;
  }
}

@keyframes hamburgerFadeIn {
  from {
    left: -40%;
    top: 2%;
    opacity: 0;
  }
  to {
    left: 5%;
    top: 2%;
    opacity: 1;
  }
}

@-webkit-keyframes hamburgerFadeOut {
  from {
    left: 5%;
    opacity: 1;
  }
  to {
    left: -40%;
    opacity: 0;
  }
}

@keyframes hamburgerFadeOut {
  from {
    left: 5%;
    opacity: 1;
  }
  to {
    left: -40%;
    opacity: 0;
  }
}

#preload {
  -webkit-animation: 0s !important;
          animation: 0s !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-left: 4rem;
  z-index: 1;
  -webkit-animation-duration: 0s !important;
          animation-duration: 0s !important;
}

.navigationClosed {
  position: absolute;
  left: -60%;
  z-index: 998;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2cfeaff), to(#6247aaff));
  background: linear-gradient(180deg, #e2cfeaff 0%, #6247aaff 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.navigation {
  position: absolute;
  left: 0%;
  z-index: 998;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2cfeaff), to(#6247aaff));
  background: linear-gradient(180deg, #e2cfeaff 0%, #6247aaff 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 50vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  z-index: 1000;
}

.hamburgerIconClosed {
  position: absolute;
  left: -5%;
  top: 2%;
  cursor: pointer;
  width: 25px;
  display: block;
  z-index: 998;
  -webkit-animation: hamburgerFadeOut .5s ease-in;
          animation: hamburgerFadeOut .5s ease-in;
}

.hamburgerIconClosed span {
  height: 8px;
  width: 30px;
  display: block;
  border-bottom: 2px solid white;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

.hamburgerIconClosed:hover span {
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
  border-bottom: 2px solid #5E1FD1;
}

.hamburgerIcon {
  position: absolute;
  left: 5%;
  top: 2%;
  cursor: pointer;
  width: 25px;
  display: block;
  -webkit-animation: hamburgerFadeIn .5s ease-in;
          animation: hamburgerFadeIn .5s ease-in;
}

.hamburgerIcon span {
  height: 8px;
  width: 30px;
  display: block;
  border-bottom: 2px solid white;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
  margin: 0;
}

.hamburgerIcon:hover span {
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
  border-bottom: 2px solid var(--purple);
}

.closeBtn {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 80%;
  font-size: 30px;
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

.closeBtn:hover {
  cursor: pointer;
  color: #B388EB;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.linkContainer {
  padding: 20px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.linkContainer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  padding: 8px;
  margin-top: auto;
}

.linkContainer .socials a {
  text-decoration: none;
}

.linkContainer h1 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 64px;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  margin: 0;
}

.linkContainer h1:hover {
  color: var(--blue);
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}

.linkContainer h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin: 0;
  padding: 8px;
  font-size: 48px;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  color: var(--blue);
}

.linkContainer a {
  text-decoration: none !important;
}

.linkContainer h3:hover {
  color: var(--purple);
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
}
/*# sourceMappingURL=Navbar.module.css.map */