@keyframes spin { 
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
}

@media screen and (max-width: 600px) {
    .workCard {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0;
        padding: 10px;
        background-color: var(--amethyst);
        border-radius: 20px;
        transition: .25s ease-in-out;
        cursor: pointer;
        .heading {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            align-items: center;
            width: 100%;
            img {
                border-radius: 50%;
                width: 100px;
            }
            .jobContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: auto;
                text-align: left;
                margin-left: 10px;
                white-space: nowrap;
                h1 {
                    font-size: 20px;
                }
                h2 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 16px;
                    color: var(--lavender);
                }
            }
            .location {
                display: flex;
                margin-right: 40px;
                text-align: left;
            }
        }
    }
    .description {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
        .techContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
        }
        h4 {
            font-size: 18px;
            text-decoration: underline;
        }
        p {
            text-align: left;
            width: 100%;
            margin: 5px 0;
            font-size: 15px;
        }
    }
    .closedDescription {
        transition: .25s max-height;
        width: 100%;
        display: none;
        height: 0px;
        margin: 0;
        transform: translateY(0);
    }
}

@media screen and (min-width: 600px) {
    .workCard {
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0;
        padding: 20px;
        background-color: var(--amethyst);
        border-radius: 20px;
        transition: .25s ease-in-out;
        cursor: pointer;
        .heading {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            align-items: center;
            width: 100%;
            img {
                border-radius: 50%;
                width: 150px;
            }
            .jobContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: auto;
                text-align: left;
                margin-left: 20px;
                white-space: nowrap;
                h4 {
                    color: var(--lavender);
                }
            }
            .location {
                display: flex;
                // margin-left: auto;
                margin-right: 40px;
                text-align: left;
                // width: auto;
            }
        }
        .description {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 20px;
            height: auto;
            align-items: flex-start;
            justify-content: flex-start;
            .techContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                .techStack {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    margin: 10px 0; 
                    p {
                        color: var(--lavender);
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        width: auto;
                    }
                }
            }
            h4 {
                font-size: 26px;
                text-decoration: underline;
            }
            p {
                text-align: left;
                width: 100%;
                margin: 10px 0;
                font-size: 18px;
            }
        }
        .closedDescription {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: auto;
            align-items: flex-start;
            justify-content: flex-start;
            .techContainer {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                .techStack {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    margin: 10px 0; 
                    p {
                        color: var(--lavender);
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        width: auto;
                    }
                }
            }
            h4 {
                font-size: 26px;
                text-decoration: underline;
            }
            p {
                text-align: left;
                width: 100%;
                margin: 10px 0;
                font-size: 18px;
            }
        }
        .active {
            transition: .5s ease-in;
            animation: spin .5s normal forwards ease-in;
            animation-iteration-count: 1;
        }
    }
    .workCard:hover {
        transition: .25s ease-in-out;
        background: var(--blue);
    }
}

